<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <kraken_wistiavideo>
            <video_settings>
                <aspect_ratio>56.25%</aspect_ratio>
            </video_settings>
        </kraken_wistiavideo>
    </default>
</config>
