<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Block\Product\View\Details">
        <plugin name="kraken_wistiavideo_product_info" type="Kraken\WistiaVideo\Plugin\Catalog\Block\Product\View\Details"/>
    </type>
    <type name="MagicToolbox\MagicZoomPlus\Block\Product\View\Gallery">
        <plugin sortOrder="1" name="krakenRelatedProductsGallery"
                type="Kraken\WistiaVideo\Plugin\Block\Product\View\GalleryPlugin"/>
    </type>
</config>
